extends layout

block page
	.fixed-nav
		.container
			ul.nav
				li 
					a(href="#/main") Main
				li 
					a(href="#/content") Article
			if (!user)
				ul.auth
					li
						a(href="" id="login" ng-click="") Login
					li
						a(href="#/reg") Sign up
				.auth-block
					h3 Sign in
					form(name="signin" action="/login" method="post")
						input(type="text" name="username" placeholder="login")
						input(type="password" name="password" placeholder="password")
						button(type="Signin").btn.btn-primary Send
			if (user)
				if (user.isAdmin)
					.profile-btn
						a(href="" id="profile")
							img(src="/images/useravatar/" + user.avatar, alt="")
							p= user.username
					.admin-btn
						a(href="/create") New article
					.profile-block
						.pb-img-wrap
							img(src="/images/placeholder.jpg", alt="")
						.pb-userinfo-wrap
							p.username= user.username
							p.pb-u-email=user.email
							a(href="/logout").admin-logout Logout
							a(href="/admin").admin-panel-btn Admin panel
				if (!user.isAdmin)
					.profile-btn
						a(href="" id="profile")
							img(src="/images/useravatar/" + user.avatar, alt="")
							p= user.username
					.admin-btn
						a(href="/create") New article
					.profile-block
						.pb-img-wrap
							img(src="/images/useravatar/" + user.avatar, alt="")
						.pb-userinfo-wrap
							p.username= user.username
							p.pb-u-email=user.email
							a(href="/logout").user-logout Logout

	.view.container(ng-view)