extends layout

block page
	.fixed-nav
		.container
			ul.nav
				li
					a(href="#!/main") Main
				li
					a(href="#!/content") Article
			if (!user)
				ul.auth
					li
						a(href="" id="login" ng-click="") Login
					li
						a(href="#!/reg") Sign up
				.auth-block
					h3 Sign in
					form(name="signin" action="/login" method="post")
						input(type="text" name="username" placeholder="login")
						input(type="password" name="password" placeholder="password")
						button(type="Signin").btn.btn-primary Send
			if (user)
				if (user.isAdmin)
					.profile-btn
						a(href="" id="profile")
							img(src="/images/useravatar/350x350/" + user.avatar, alt="")
							p #{user.username}
					.admin-btn
						a(href="/create") New article
					.profile-block(ng-hide="show")
						.pb-img-wrap
							img(src="/images/useravatar/350x350/" + user.avatar, alt="")
							button(ng-click="show = true").avatar-change-btn Change photo
						.pb-userinfo-wrap
							p.username #{user.username}
							p.pb-u-email #{user.email}
							a(href="/logout").admin-logout Logout
							a(href="/admin").admin-panel-btn Admin panel
				if (!user.isAdmin)
					.profile-btn
						a(href="" id="profile")
							img(src="/images/useravatar/350x350/" + user.avatar, alt="")
							p #{user.username}
					.admin-btn
						a(href="/create") New article
					.profile-block(ng-hide="show")
						.pb-img-wrap
							img(src="/images/useravatar/350x350/" + user.avatar, alt="")
							button(ng-click="show = true").avatar-change-btn Change photo
						.pb-userinfo-wrap
							p.username #{user.username}
							p.pb-u-email #{user.email}
							a(href="/logout").user-logout Logout
		.modal-window-wrap(ng-show="show" ng-click="show = false")
		.modal-window(ng-show="show")
			if (user)
				h3 Select new photo
				form(action="/user/avatar/#{user._id}" method="post" enctype="multipart/form-data")
					img(src="/images/default-placeholder.png", id="new-photo", alt="")
					input(type="file", name="avatar", id="inp-new-photo", accept="image/*")
					button(type="submit") Save

	.view.container(ng-view)
